#CounterApp {
  text-align: center;
  font-family: helvetica;
  font-size: 10em;
  display: block;
}
#btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #45a049;
}
